<h1>About Alpha Blog</h1>
<p>This is the application we will be developing during the course</p>

<p>Here is some information about the application:</p>
<table width='500'>
    <tr>
        <td>Date created:</td>
        <td><b>August 11, 2016</b></td>
    </tr>
    <tr>
        <td>Last updated:</td>
        <td><b>August 12, 2016</b></td>
    </tr>
    <tr>
        <td>Author:</td>
        <td><b>Michael Levin</b></td>
    </tr>
    
</table>
<br>
<%= link_to 'Home', root_path %>